/* {
	border: solid black .1px;
}*/

.scrolling-wrapper, .card, .row, .col, .navbar, .nav, img, .img-fluid {
	margin: 0; padding: 0; border: none;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 0.03vw;
	line-height: 3vh;
	color: #333333;
	text-decoration: none;
	text-align: left;
}

.card {
	background-color: #666655;
	overflow-x: hidden;
	overflow-y: scroll;
	scroll-snap-align: end;
}

.col-12.col-sm-10.col-xl-8 {
	background-color: #E7E5BC;
	height: 100vh;
}

#nav, a, a:hover{
	color: #658621;
}
.scrolling-wrapper {
	height: 100vh;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
	scroll-margin: 0;
    scroll-padding: 0;
	scroll-snap-type: x mandatory;
}
.navbar {
	line-height: 1.65;
}
#copy {
	background-color: #E7E5BC;
	white-space: normal;
	font-size: 1vw;
	padding: 0 1vw;
	line-height: 1.75;
}

#subtitle {
	font-size: 3.25vw;
	letter-spacing: 0.75vw;
	color: #658621;
	padding: 5vh 0 3vh 0;
	align-items: center;
}
#service {
	font-size: 2.25vw;
	letter-spacing: 0.75vw;
	color: #658621;
	padding: 5vh 0 3vh 1vh;
}

/* index.html */
.enterLogo {
	height: 92.5vh;
}
#enter {
	font-size: 2.25vh;
}
/* index.html */


/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media (min-width: 1200px) {

	#indexHeight {
		height: 85vh;
	}
	.col-12.col-sm-10.col-xl-8 {
		padding: 5vh 5vw;
	}
	.img-fluid {
		width: 100%;
		height: auto;
	}
	#non-random, #service {
		font-size: 2.1vw;
	}
	#small, #xsmall, #littleBMZ {display: none;}

	.navbar {
		padding: 2vh 0 0 .5vw;
		font-size: 1em;
		font-weight: 400;
		letter-spacing: 0.25vw;
	}

}
/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */


/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */
@media (min-width: 992px) and (max-width: 1199px) {
	
	.col-12.col-sm-10.col-xl-8 {
		padding: 3vh 3vw;
	}
	.img-fluid {
		width: 90%;
		height: auto;
	}
	.navbar {
		padding: 3vh 0 0 .5vw;
		font-size: 1.45vw;
		font-weight: 400;
		letter-spacing: 0.35vw;
	}
	#subtitle {
		padding-top: 7.5vh;
		font-size: 4.5vw;
		letter-spacing: 0.75vw;
	}
	#non-random, #service {
		font-size: 3vw;
	}
	#small, #xsmall, #littleBMZ {display: none;}

	#copy {
		font-size: .8em;
	}
}
/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */


/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */
@media (min-width: 768px) and (max-width: 991px) {

	.col-12.col-sm-10.col-xl-8 {
		padding: 3vh 3vw;
	}
	.img-fluid {
		width: 100%;
		height: auto;
		max-height: 42.5vh;
	}
	.navbar {
		padding: 3vh 0 0 .5vw;
		font-size: 1.7vw;
		font-weight: 400;
		letter-spacing: 0.3vw;
	}
	#small, #xsmall, #littleBMZ {display: none;}

	#subtitle {
		font-size: 4.5vw;
		letter-spacing: 0.75vw;
	}
	#non-random {font-size: 2.5vw;}

	#copy {
		font-size: .8em;
	}

}
/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */


/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media (min-width: 576px) and (max-width: 767px) {
	
	.col-12.col-sm-10.col-xl-8 {
		padding: 3vh 0;
	}

	.img-fluid {
		width: 100%;
		height: auto;
	}
	.navbar {
		padding: 0 0 0 4vw;
		font-size: 2.5vw;
		font-weight: 400;
		letter-spacing: 0.1vw;
		line-height: 2;
	}
	#subtitle {
		font-size: 6vw;
		letter-spacing: 0.75vw;
		color: #658621;
		padding: 5vh 1vw 4vh .75vw;
		display: flex;
		justify-content: space-between;
	}
	#normal, #small {display: none;}

	#littleBMZ {
		width: 20vw;
		padding-right: 3vw;
	}
	#copy {
		font-size: .8em;
	}
	#non-random, #s-xl {display: none;}


}
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSS5SSSSSSSSS */


/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
@media (max-width: 575px) {

	.card {
		background: #E7E5BC;
		overflow-x: hidden;
		overflow-y: scroll;
		scroll-snap-align: end;
	}

	.col-12.col-sm-10.col-xl-8 {
		padding: 2vh 2vw;
	}
	.img-fluid {
		width: 100%;
		height: auto;
	}
	#normal, #small {display: none;}

	.navbar {
		font-size: 3.25vw;
		font-weight: 400;
		letter-spacing: 0.1vw;
		line-height: 2;
	}
	#subtitle {
		font-size: 6.5vw;
		letter-spacing: 0.75vw;
		color: #658621;
		padding: 5vh 0 4vh 0;
		display: flex;
		justify-content: space-between;
	}
	#littleBMZ {
		width: 27.5vw;
		padding-right: 7.5vw;
	}
	#copy {
		font-size: .8em;
		line-height: 3.25vh;
	}
	#non-random, #s-xl {display: none;}
}
/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
