/* {
	border: solid black .1px;
}*/

.scrolling-wrapper, .card, .row, .col [class*='col-'], .navbar, .nav, img, .img-fluid {
	margin: 0; padding: 0; border: none;
}
.img-fluid {
	display: block;
	height: auto;
	}

body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	letter-spacing: 0.03vw;
	line-height: 3vh;
	color: #333333;
	text-decoration: none;
	text-align: left;
}
.scrolling-wrapper {
	height: 100vh;
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
}
.card {
	background-color: #666655;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-snap-align: end;
	-webkit-overflow-scrolling: touch;
}

.col-12.col-sm-10.col-xl-8 {
	background-color: #E7E5BC;
	height: 100vh;
}

#nav, a, a:hover{
	color: #658621;
}

.navbar {
	line-height: 1.65;
}
.nav .current {
	border: .25px solid #666655;
}
.navLink:visited, .navLink:link, .navLink:active, 
.navLink:hover {
    text-decoration: none;
	}
	

#copy {
	background-color: #E7E5BC;
	white-space: normal;
	font-size: .8em;
	padding: 3vh 2vw;
	line-height: 1.75;
}

#subtitle, #update {
	color: #658621;
	align-items: center;
}
#service {
	font-size: 2.25vw;
	letter-spacing: 0.75vw;
	color: #658621;
	padding: 5vh 0 3vh 1vh;
}

/* index.html */
.enterLogo {
	height: 92.5vh;
}
#enterLogo {
	padding-top: 20vh;
}
#enter {
	font-size: 2.25vh;
}
/* index.html */


/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media (min-width: 1200px) {

	#indexHeight {
		height: 85vh;
	}
	.col-12.col-sm-10.col-xl-8 {
		padding: 5vh 0;
	}
	.img-fluid {
		width: 70%;
	}
	#subtitle {
		padding: 7.5vh 0 1.5vh 1.75vw;
		font-size: 2.25vw;
		letter-spacing: 0.45vw;
	}
	#update {
		font-size: 1.25vw;
		padding: 0 0 2vh 1.75vw;
	}
	#non-random, #service {
		font-size: 1.65vw;
	}
	#small, #xsmall {display: none;}

	.navbar {
		padding: 1.5vh 0 0 .5vw;
		font-size: 1em;
		font-weight: 400;
		letter-spacing: 0.25vw;
	}
	img#canada {
		display: block;
		height: auto;
		max-width: 40vw;
	}
	img#dailyImg, #caption {
		width: 30vw;
	}

}
/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */


/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */
@media (min-width: 992px) and (max-width: 1199px) {
	
	.col-12.col-sm-10.col-xl-8 {
		padding: 3vh 0;
	}
	.img-fluid {
		width: 72.5%;
	}
	.navbar {
		padding: 3vh 0 0 .5vw;
		font-size: 1.25vw;
		font-weight: 400;
		letter-spacing: 0.35vw;
		line-height: 1.75;
	}
	#subtitle {
		padding: 7.5vh 0 1.25vh 1.75vw;
		font-size: 2.25vw;
		letter-spacing: 0.45vw;
	}
	#update {
		font-size: 1.4vw;
		padding: 0 0 2vh 1.75vw;
	}
	#non-random, #service {
		font-size: 1.5vw;
	}
	#small, #xsmall {display: none;}

	#copy {
		padding-top: 3vh;
	}
	img#canada {
		display: block;
		height: auto;
		max-width: 50vw;
	}
	img#dailyImg, #caption {
		width: 35vw;
		font-size: 1.15vw;
	}
}
/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */


/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */
@media (min-width: 768px) and (max-width: 991px) {

	.col-12.col-sm-10.col-xl-8 {
		padding: 3vh 0;
	}
	.img-fluid {
		width: 82.5%;
	}
	.navbar {
		padding: 3vh 0 0 .5vw;
		font-size: 1.5vw;
		font-weight: 400;
		letter-spacing: 0.3vw;
		line-height: 1.75;
	}
	#small, #xsmall {display: none;}

	#subtitle {
		padding: 7.5vh 0 1.5vh 1.75vw;
		font-size: 3.25vw;
		letter-spacing: 0.75vw;
	}
	#update {
		font-size: 1.75vw;
		padding: 0 0 2vh 1.75vw;
	}
	#non-random {font-size: 2.5vw;}

	img#canada, img#dailyImg {
		font-size: .85vw;
	}
	img#canada {
		display: block;
		height: auto;
		max-width: 50vw;
	}
	img#dailyImg, #caption {
		width: 50vw;
		font-size: 1.8vh;
	}
}
/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */


/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media (min-width: 576px) and (max-width: 767px) {
	
	.col-12.col-sm-10.col-xl-8 {
		padding: 3vh 0;
	}
	.img-fluid {
		width: 100%;
	}
	.navbar {
		padding: 3vh 0 0 .5vw;
		font-size: 1.85vw;
		font-weight: 400;
		letter-spacing: 0.3vw;
		line-height: 1.75;
	}
	#subtitle {
		padding: 7.5vh 1vw 1.5vh 1.5vw;
		font-size: 4vw;
		letter-spacing: 0.75vw;
	}
	#update {
		font-size: 2.5vw;
		padding: 0 0 2vh 1.75vw;
	}
	#small, #xsmall {display: none;}

	#non-random {font-size: 2.5vw;}

	img#canada, img#dailyImg {
		font-size: .85vw;
	}
	img#canada {
		display: block;
		height: auto;
		max-width: 55vw;
	}
	img#dailyImg, #caption {
		width: 55vw;
		font-size: 1.7vh;
	}

}
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSS5SSSSSSSSS */


/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
@media (max-width: 575px) {

	.card {
		background: #E7E5BC;
		overflow-x: hidden;
		overflow-y: scroll;
		scroll-snap-align: end;
	}

	.col-12.col-sm-10.col-xl-8 {
		padding: 2vh 2vw;
	}
	.img-fluid {
		width: 100%;
		height: auto;
	}
	#small {display: none;}

	.navbar {
		padding: 2vh 0 0 1vw;
		font-size: 2.5vw;
		font-weight: 400;
		letter-spacing: 0.1vw;
		line-height: 1.75;
	}
	#subtitle {
		padding: 5vh 0 1vh 0;
		font-size: 5vw;
		letter-spacing: 0.75vw;
		
	}
	#update {
		font-size: 3vw;
		padding: 0 0 2vh 0;
	}

	#copy {
		padding-top: 3vh;
		line-height: 1.7;
	}
	#non-random, #s-xl {display: none;}

	#enterLogo {
		padding-top: 5vh;
	}

	img#canada {
		display: block;
		height: auto;
		width: 87.5vw;
	}
	img#dailyImg, #caption {
		width: 87.5vw;
		font-size: 1.85vh;
	}

}
/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
